<h1> Words File Upload </h1>

<div class="panel-default">
  <div class="panel-heading">
    Please upload the file with the word lists here.
  </div>
  <div class="panel-body">
    <%= form_tag({action: :submit}, html: {multipart: true}, remote: true, id: 'myform') do %>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-4">
            <%= file_field_tag 'words_list', class: 'file' %>
          </div>
          <div class="col-sm-2">
            <%= submit_tag 'submit file', class: 'btn btn-default' %>
          </div>
        </div>
      </div>
    <% end %>

    <div id="word-spinner">Crunching hard numbers... please wait...</div>
    <div id="response-box"></div>
    <div id="try-again" style="display:hidden;" class="btn btn-primary">Upload Another File?</div>
  </div>
</div>
