<% if !(flash[:bad_file_error]) && !(flash[:word_tree_error]) %>
  <h1> Submission Results </h1>

  <p> Here are the results. </p>

  <ul>
    <% @results.each do |word| %>
      <li> <%= word %> </li>
    <% end %>
  </ul>
<% elsif v = flash[:bad_file_error] %>
  <h1> Bad File! </h1>
  <p> <%= v %> </p>
  <p> Some things to keep in mind: </p>
  <ul>
    <li> Make sure that your file is plain ASCII </li>
    <li> Make sure you're not uploading an empty file </li>
    <li> Make sure that you're not uploading a file full of whitespaces! </li>
    <li> Make sure you're not uploading binary/data files </li>
  </ul>
<% elsif v = flash[:word_tree_error] %>
  <h1> No Word Tree! </h1>
  <p> <%= v %> </p>
<% end %>
