<!DOCTYPE html>
<html>
<head>
  <title>Words</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <h1> Words Application </h1>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", words_index_path %></li>
            <li><%= link_to "About", words_about_path %></li>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
  </div>
</body>
</html>
